Node-REDflow.txt
[{"id":"6d88f899.666098","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3f86aad5.9a07f6","type":"serial in","z":"6d88f899.666098","name":"","serial":"751c965c.dba4e8","x":150.7868881225586,"y":264.0965986251831,"wires":[["99c772e7.c76fe","7c7ea0b8.ea779"]]},{"id":"99c772e7.c76fe","type":"csv","z":"6d88f899.666098","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"CMD,arg1,arg2,arg3,arg4","x":291.7897262573242,"y":263.89771842956543,"wires":[["f1fc712c.f199f","2091fe73.f2ac12","a2b5769a.ef5798"]]},{"id":"f1fc712c.f199f","type":"change","z":"6d88f899.666098","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.arg1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":409.7868881225586,"y":223.40057182312012,"wires":[["cbdadf76.7704f"]]},{"id":"2091fe73.f2ac12","type":"change","z":"6d88f899.666098","name":"Antall rotter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.arg2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430.7925491333008,"y":302.409086227417,"wires":[["5d8b8878.9aa718"]]},{"id":"ac65650f.5a9578","type":"ui_template","z":"6d88f899.666098","group":"7dec021b.84d85c","name":"Bilde","order":0,"width":"6","height":"6","format":"<img ng-src=\"{{msg.payload}}\" alt=\"msg.timestamp\">\n<p>Siste bilde tatt:</p><p>{{msg.timestamp}}</p>  ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":795.7924728393555,"y":431.059428691864,"wires":[[]]},{"id":"cbdadf76.7704f","type":"ui_gauge","z":"6d88f899.666098","name":"","group":"5fbde572.adb10c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":833.7869110107422,"y":220.1250057220459,"wires":[]},{"id":"5d8b8878.9aa718","type":"ui_numeric","z":"6d88f899.666098","name":"","label":"Antall rotter","group":"5fbde572.adb10c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"5","step":1,"x":828.786865234375,"y":299.2158317565918,"wires":[[]]},{"id":"8ddcd426.78ccd8","type":"ui_button","z":"6d88f899.666098","name":"","group":"7dec021b.84d85c","order":0,"width":"6","height":"1","passthru":false,"label":"Ta nytt bilde","color":"","bgcolor":"","icon":"camera","payload":"1","payloadType":"num","topic":"","x":119.78401947021484,"y":415.36079502105713,"wires":[["cfd5c21f.e67aa","42f48243.658b3c","f3073e1d.671b"]]},{"id":"49596582.3c6efc","type":"exec","z":"6d88f899.666098","command":"sudo python pythonbilde.py","addpay":true,"append":" msg.payload","useSpawn":"true","timer":"","oldrc":false,"name":"","x":669.7868804931641,"y":378.6448268890381,"wires":[[],[],[]]},{"id":"a370f046.f93dd","type":"function","z":"6d88f899.666098","name":"Filnavn2","func":"msg.payload = \"/bilde\"+msg.timestamp + \".jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":457.7868881225586,"y":430.9771738052368,"wires":[["640052f7.81444c"]]},{"id":"8383f224.d2a65","type":"function","z":"6d88f899.666098","name":"Filnavn","func":"msg.payload = \"/home/pi/bilde\" + msg.timestamp\nreturn msg;","outputs":1,"noerr":0,"x":458.60793685913086,"y":393.05967712402344,"wires":[["49596582.3c6efc"]]},{"id":"640052f7.81444c","type":"delay","z":"6d88f899.666098","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":627.5994262695312,"y":430.12220668792725,"wires":[["ac65650f.5a9578"]]},{"id":"cfd5c21f.e67aa","type":"timestamp","z":"6d88f899.666098","name":"","x":309.79258728027344,"y":416.6647186279297,"wires":[["8383f224.d2a65","a370f046.f93dd"]]},{"id":"a2b5769a.ef5798","type":"function","z":"6d88f899.666098","name":"Meldinger","func":"if (msg.payload.arg2>4){\n    msg.payload = \"Maks antall rotter fanget. Felle må tømmes!\"}\n    else msg.payload =\" \"\nreturn msg","outputs":1,"noerr":0,"x":613.786922454834,"y":263.7016830444336,"wires":[["b91d5940.ebadc8"]]},{"id":"b91d5940.ebadc8","type":"ui_template","z":"6d88f899.666098","group":"7dec021b.84d85c","name":"","order":0,"width":"6","height":"2","format":"<p>Meldinger: </p>\n<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":822.7812271118164,"y":260.01418685913086,"wires":[[]]},{"id":"cb70976c.648df8","type":"ui_button","z":"6d88f899.666098","name":"","group":"7dec021b.84d85c","order":0,"width":0,"height":0,"passthru":false,"label":"Kill","color":"","bgcolor":"","icon":"","payload":"Kill","payloadType":"str","topic":"","x":788.7926158905029,"y":469.41764879226685,"wires":[["f15533e8.c7946"]]},{"id":"8d4ea4ff.5fabd8","type":"ui_button","z":"6d88f899.666098","name":"","group":"7dec021b.84d85c","order":0,"width":0,"height":0,"passthru":false,"label":"Stun","color":"","bgcolor":"","icon":"","payload":"Stun","payloadType":"str","topic":"","x":789.7869358062744,"y":505.4119381904602,"wires":[["f15533e8.c7946"]]},{"id":"f15533e8.c7946","type":"function","z":"6d88f899.666098","name":"","func":"if(msg.payload=='Kill'){\n    msg.payload = \"1\"\n}\nif(msg.payload=='Stun'){\n    msg.payload = \"0\"\n}\nelse msg.payload = \"1\"\nreturn msg;","outputs":1,"noerr":0,"x":949.7810649871826,"y":485.60796785354614,"wires":[["9f771291.e6e71"]]},{"id":"9f771291.e6e71","type":"serial out","z":"6d88f899.666098","name":"","serial":"751c965c.dba4e8","x":1128.0625133514404,"y":483.56255197525024,"wires":[]},{"id":"42f48243.658b3c","type":"rpi-gpio out","z":"6d88f899.666098","name":"Kameralys","pin":"11","set":true,"level":"0","freq":"","out":"out","x":438.4096870422363,"y":476.7326898574829,"wires":[]},{"id":"f3073e1d.671b","type":"delay","z":"6d88f899.666098","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":141.08335876464844,"y":478.06253719329834,"wires":[["41a9dc99.9280e4"]]},{"id":"41a9dc99.9280e4","type":"change","z":"6d88f899.666098","name":"Inverterer","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":277.08336639404297,"y":476.6355085372925,"wires":[["42f48243.658b3c"]]},{"id":"7c7ea0b8.ea779","type":"udp out","z":"6d88f899.666098","name":"","addr":"192.168.0.35","iface":"","port":"5353","ipv":"udp4","outport":"","base64":true,"multicast":"false","x":368.0833282470703,"y":349.83683013916016,"wires":[]},{"id":"9323184a.049998","type":"udp in","z":"6d88f899.666098","name":"","iface":"","port":"9050","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":943.0763835906982,"y":526.6805901527405,"wires":[["9f771291.e6e71"]]},{"id":"751c965c.dba4e8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"7dec021b.84d85c","type":"ui_group","z":"","name":"Kamera","tab":"2e14e46b.f862dc","disp":true,"width":"6"},{"id":"5fbde572.adb10c","type":"ui_group","z":"","name":"Sensordata","tab":"2e14e46b.f862dc","disp":true,"width":"6"},{"id":"2e14e46b.f862dc","type":"ui_tab","z":"","name":"RatKiller","icon":"dashboard"}]